/* Safari only CSS */
@media not all and (min-resolution:.001dpcm){
  /*
    Fix for backface-visibility issue
  */
  .safari-backface-fix {
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000px;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transform-style: preserve-3d;
  }
}